{% extends 'layout/layout' %}

{% block title %}
	{{ translate('TicketSystem') }}
{% endblock title %}

{% block content %}

	{% set typeList = {0:'new',1:'open',2:'closed'} %}

	<a href="{{ url('zfc-ticketsystem', {'action':'new'}) }}" class="btn btn-primary"><i class="fa fa-plus"></i> {{ translate('new ticket') }}</a>
	<div class="clearfix"></div>
	<div class="table-responsive margin-top-10">
		<table class="table table-bordered table-hover">
			<tr>
				<th>{{ translate('Subject') }}</th>
				<th>{{ translate('Category') }}</th>
				<th>{{ translate('Type') }}</th>
				<th>{{ translate('LastEdit') }}</th>
				<th>{{ translate('Option') }}</th>
			</tr>
			{% for iKey, ticketSubject in ticketList %}
				<tr>
					<td>{{ ticketSubject.getSubject }}</td>
					<td>{{ ticketSubject.getTicketCategory.getSubject }}</td>
					<td>{{ typeList[ticketSubject.getType] }}</td>
					<td>{{ dateTimeFormatTime(ticketSubject.getLastEdit) }}</td>
					<td>
						<a href="{{ url('zfc-ticketsystem', {'id':ticketSubject.getId, 'action':'view'}) }}" class="btn btn-warning btn-sm">
							<i class="fa fa-edit"></i>
							{{ translate('View') }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}