{% extends 'layout/layout' %}

{% block title %}
	TicketSystem
{% endblock title %}

{% block content %}
	{{ formWidget(form) }}
	{% for key, curEntry in entry %}
		<label>{{ getUserAlias(curEntry.getUser) }} <small>{{ dateTimeFormatTime(curEntry.getCreated) }}</small></label><br/>
		{{ bbCodeParser(curEntry.getMemo()) }}<br />
	{% endfor %}
{% endblock content %}

{% block script %}
	<link rel="stylesheet" href="{{ basePath() }}/minified/themes/modern.min.css" type="text/css" media="all" />
	<script type="text/javascript" src="{{ basePath() }}/minified/jquery.sceditor.bbcode.min.js"></script>

	<script type="text/javascript">
		jQuery(function() {
			// Replace all textarea's
			// with SCEditor
			jQuery("textarea").sceditor({
				plugins: "bbcode",
				toolbar: "bold,italic,underline|source,left,center,right,justify,size,color,bulletlist,orderedlist,code,horizontalrule,image,email,link,emoticon,youtube",
				width: "98%",
				height: "100px",
				resizeWidth: false,
				emoticonsRoot : "/minified/",
				style: "{{ basePath() }}/minified/themes/modern.min.css",
				locale: "no-NB",
				bbcodeTrim: true
			});
			jQuery("textarea").sceditor("instance").sourceMode(true);
		});
	</script>
{% endblock script %}