{% extends 'layout/layout' %}

{% block title %}
	{{ translate('Accountmanagment') }}
{% endblock title %}

{% block content %}

	{% if changeWebPwdForm %}
		<div class="col-sm-6">
			<h4>{{ translate('Change Web Password') }}</h4>

			{% if errorsWeb %}
				<div class="alert alert-danger" role="alert">
					{% for error in errorsWeb %}
						{{ error }}
					{% endfor %}
				</div>
			{% elseif messagesWeb %}
				<div class="alert alert-success" role="alert">
					{% for message in messagesWeb %}
						{{ message }}
					{% endfor %}
				</div>
			{% endif %}
			{{ formWidget(changeWebPwdForm, 'helper/formNoLabelWidget') }}
		</div>
	{% endif %}

	<div class="col-sm-6">
		<h4>{{ translate('Change '~ (changeWebPwdForm?'Ingame':'') ~' Password') }}</h4>
		{% if errorsInGame %}
			<div class="alert alert-danger" role="alert">
				{% for error in errorsInGame %}
					{{ error }}
				{% endfor %}
			</div>
		{% elseif messagesInGame %}
			<div class="alert alert-success" role="alert">
				{% for message in messagesInGame %}
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
		{{ formWidget(changeIngamePwdForm, 'helper/formNoLabelWidget') }}
	</div>

	{% if changeWebPwdForm %}
		<div class="clearfix"></div>
	{% endif %}

	{% if addEmailForm %}
	<div class="col-sm-6">
		<h4>{{ translate('AddEmail') }}</h4>
		{% if errorsAddEmail %}
			<div class="alert alert-danger" role="alert">
				{% for error in errorsAddEmail %}
					{{ error }}
				{% endfor %}
			</div>
		{% elseif messagesAddEmail %}
			<div class="alert alert-success" role="alert">
				{% for message in messagesAddEmail %}
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
		{% set a = addEmailForm.setAttribute('action', url('PServerCMS/user', {'action' : 'add-email'})) %}
		{{ formWidget(addEmailForm, 'helper/formNoLabelWidget') }}
	</div>
	{% endif %}
	<div class="clearfix"></div>
{% endblock content %}