{% extends 'layout/layout' %}

{% block title %}
	{{ translate('Character') ~ ' - ' ~ character.getName() }}
{% endblock title %}

{% block content %}
	<h2>{{ translate('Details') }}</h2>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<tr>
				<th>{{ translate('Character') }}</th>
				<th>{{ character.getName() }}</th>
			</tr>
			{% if character.getGuild().getId() > 0 %}
				<tr>
					<th>{{ translate('Guild') }}</th>
					<th><a href="{{ url('PServerCMS/guild', {'id':character.getGuild().getId()}) }}">{{ character.getGuild().getName() }}</a></th>
				</tr>
			{% endif %}
			<tr>
				<th>{{ translate('Level') }}</th>
				<th>{{ character.getLevel() }}</th>
			</tr>
			<tr>
				<th>{{ translate('Strength') }}</th>
				<th>{{ character.getStrength() }}</th>
			</tr>
			<tr>
				<th>{{ translate('Intellect') }}</th>
				<th>{{ character.getIntellect() }}</th>
			</tr>
			<tr>
				<th>{{ translate('LastLogout') }}</th>
				<th>{{ character.getLastLogout().format('Y-m-d H:i:s') }}</th>
			</tr>
		</table>
	</div>

	<h2>{{ translate('Inventory') }}</h2>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			{% for key, inventorySlot in inventory %}
			<tr>
				<th>{{ inventorySlot.getItem.getRefItem.getLevel }}</th>
				<th>{{ inventorySlot.getItem.getRefItem.getIconPath }}</th>
			</tr>
			{% endfor %}
		</table>
	</div>

{% endblock content %}