{{ docType() }}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		{% block title %}{% endblock title %} >> {{ translate('PServerCMS') }}
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %}{% endblock meta %}

	<!-- styles -->
	{#<link href="{{ basePath() }}/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">#}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath() }}/css/layout.css" media="screen" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


	{% block style %}{% endblock style %}

</head>
<body>

<div class="top">
	<div class="container">
		<ul class="loginbar pull-right">
			{% if isAllowed('small-user-auth','index') %}
				<li><a href="{{ url('small-user-auth',{'action':'register'}) }}">{{ translate('Register') }}</a></li>
				<li><span class="strich">|</span></li>
				<li><a href="{{ url('small-user-auth') }}">{{ translate('Login') }}</a></li>
			{% endif %}
			{% if isAllowed('small-user-auth','logout') %}
				<li><a href="{{ url('small-user-auth',{'action':'logout'}) }}">{{ translate('Logout') }}</a></li>
			{% endif %}
		</ul>
		<div class="clearfix"></div>
	</div>
</div>

<div class="header">
    <div class="container">
		{{ navigationWidgetPServerCMS() }}
    </div>
</div>

<div class="clearfix"></div>

{% block breadcrumbs %}
	<!--=== Breadcrumbs ===-->
	<div class="breadcrumbs margin-bottom-30">
		<div class="container">
			<h1 class="pull-left">{{ block('title') }}</h1>
		</div><!--/container-->
	</div><!--/breadcrumbs-->
	<div class="clearfix"></div>
{% endblock %}


<div class="container">
	<div class="row">
		<div class="col-sm-9">
			{% block content %}{{ content|raw }}{% endblock content %}
		</div>
		<div class="col-sm-3">
			{{ sidebarWidget() }}
		</div>
	</div>
    <div class="clearfix"></div>
</div>
<div class="footer">
    <div class="container">
        <a class="col-sm-3 margin-top-20" href="{{ url('PServerCMS') }}"><img src="{{ basePath() }}/images/zf2-logo-mark.png" alt="..."></a>
        <div class="col-sm-3">
            <h3 class="footerheadlines">Test</h3>
            <ul class="list-unstyled">
                <li class="footertext"><a href="#">Guides</a></li>
                <li class="footertext"><a href="#">test</a></li>
                <li class="footertext"><a href="#">Community Forums</a></li>
            </ul>
        </div>
        <div class="col-sm-3" style="color: white">
            <h3 style="color: #898989;">Policies</h3>
            <ul class="list-unstyled">
                <li class="footertext"><a href="#">test</a></li>
                <li class="footertext"><a href="#">Terms & conditions</a></li>
                <li class="footertext"><a href="#">Privacy policy</a></li>
            </ul>
        </div>
        <div class="col-sm-3" style="color: white">
            <h3 style="color: #898989;">Social</h3>
            <ul class="list-unstyled">
                <li class="footertext"><a href="#">Facebook</a></li>
                <li class="footertext"><a href="#">YouTube</a></li>
                <li class="footertext"><a href="#">test</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/assets/js/respond.min.js"></script><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="{{ basePath() }}/assets/js/html5shiv.js"></script><![endif]-->
<script type="text/javascript" src="{{ basePath() }}/js/function.js"></script>
<script type="text/javascript">
	var ServerTime = new Date( {{ "now"|date("Y, n, j, G, i, s") }} );
	var iTimeStamp = {{ "now"|date("U") }} - Math.round( + new Date() / 1000 );
	startClockTimer('#idTimerClock');
</script>

{% block script %}{% endblock script %}

</body>
</html>